/* COMMENT:Root and Initial Elements */
:root {
     --Header-footer-font: "'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif";
     --Body-font: "'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif";
     --gold: #ffcb9a;
     --light-green: #39b290;
     --sea-green: #116466;
     --grey-green: #d1e8e2;
     --dusk-green: #2c3531;
     --dark-red: #530909;
}


* {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
     list-style: none;
}

/* COMMENT: Body Section*/
body {
     display: flex;
     flex-direction: column;
     font-family: var(--Body-font);
     border: 1px solid var(--gold);
     background-color: var(--sea-green);
     color: var(--grey-green);
}

/* COMMENT: Header with Search */
header {
     display: flex;
     flex-direction: column;
     background-color: var(--sea-green);
     border: 1px solid var(--grey-green);
     align-items: center;

}

header section {
     padding: 0 3em 1em 3em;
}

/* COMMENT: Main Section */
main {
     display: flex;
     flex-direction: row;
}

/* COMMENT: Footer */
footer {
     display: flex;
     background-color: var(--dusk-green);
     border: 1px solid var(--gold);
     min-height: 4em;
}

h3 {
     font-weight: 900;
     color: var(--gold);
}

h2 {
     font-weight: bolder;
     color: var(--light-green);
}

.gameSearch {
     display: flex;
     flex: 1 0 auto;
     flex-direction: row;
     align-items: center;
     text-align: center;
     padding: 1em 0 0.5em 0;
     border:   var(--dusk-green);
     
}
/* COMMENT: Categories area */

.categories {
     display: flex;
     flex-direction: column;
     flex-basis: 20%;
     align-items: center;
     background-color: var(--sea-green);
     border: 1px solid var(--gold);
     padding: 0.5em;
     min-width: 8em;
     color: var(--grey-green);
}

.categories li {
     margin: 1em;
}

/* COMMENT: Gamecard display area parent div */
.displayedResults {
     display: flex;
     flex: 1 1 100%;
     flex-direction: column;
     background-color: var(--sea-green);
     border: 1px solid var(--gold);
     min-height: 50em;
}

/* COMMENT: Game card display area */
.gameCardsDiv{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-around;
     color: var(--grey-green);

}

/* get white space to show propperly in tags list items */
.tags {
     white-space: pre;
}

.smallBackgroundImage {
     max-width: 200px;
}

/* COMMENT: Individual Game Cards and holiday card */
.singleGameCard  {
     display: flex;
     flex-direction: column;
     flex: 0 0 auto;
     min-width: 8em;
     min-height: 10em;
     margin: 0.5em 0.5em;
     background-color: var(--sea-green);
     padding: 0.5em;
     width: 100%
}

.holidayDates{
     display:flex;
     flex-direction: column;
     flex: 0 0 auto;
     background-color: var(--sea-green);
     border: 1px solid var(--gold);
     padding: 2em;
     justify-content: space-between;
}

/* make the image grow and shrink with the screen, capped at 50% of width or height */
.backgroundImage {
     margin-left: auto;
     margin-right: auto;
     max-width: 50%;
     max-height: 50%;
}

.minGameCard {
     border: 3px solid var(--gold);
     border-radius: 5px 5px 5px 5px;   
}

.gameSearch{
     font-size: 25px;
}

.categories {
     font-size: 20px;
}

#gamingHolidays, #instructionsSpan {
     font-size: 30px;
}

/* make the error text for incorrect country red */
#errorText{
     color: var(--dark-red);
}

/* resize holiday search button */
#holidaySearchButton{
     max-width: 80px;
}

/* resize country input section */
#countryInput{
     max-width: 200px;
}

#instructionsP {
     text-align: justify;
     padding: 0 3em 1em 3em;
}

#instructionsSpan {
     color: var(--grey-green);
     font-weight: bold;
     font-size: 20px;
}

#invalidEntry {
     padding: 0.5em 0 0.5em 0;
}

#searchInput input[type=text] {
     max-width: 12em;
     margin-left: 0.2em;
}