/* COMMENT:Root and Initial Elements */
:root {
     --Header-footer-font: "'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif";
     --Body-font: "'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif";
}

/* @media screen {
     body {
          margin: 5% 5%;
     }
} */
/* #2c3531, #116466, #d9b08c, #ffcb9a, #d1e8e2 */
* {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
     color: #413a3a;
     list-style: none;
}

/* COMMENT: Body Section*/
body {
     display: flex;
     flex-direction: column;
     font-family: var(--Body-font);
     border: 1px solid #ffcb9a;
     background-color: #116466;
}

/* COMMENT: Header with City Search */
header {
     display: flex;
     flex-direction: column;
     background-color: #116466;
     border: 1px solid #ffcb9a;
     align-items: center;

}

#instructionsP {
     text-align: justify;
     padding: 0 3em 1em 3em;
}

#instructionsSpan {
     color: blue;
     font-weight: bold;
     font-size: 20px;
}

header section {
     padding: 0 3em 1em 3em;
}

#invalidEntry {
     padding: 0.5em 0 0.5em 0;
}


.gameSearch {
     display: flex;
     flex: 1 0 auto;
     flex-direction: row;
     align-items: center;
     text-align: center;
     padding: 1em 0 0.5em 0;
}

#searchInput input[type=text] {
     max-width: 12em;
     margin-left: 0.2em;
}

/* COMMENT: Main Section */
main {
     display: flex;
     flex-direction: row;
}

/* COMMENT: Search area */

.categories {
     display: flex;
     flex-direction: column;
     flex-basis: 20%;
     align-items: center;
     background-color: #116466;
     border: 1px solid #ffcb9a;
     padding: 0.5em;
     min-width: 8em;
}

.categories li {
     margin: 1em;
}

/* COMMENT: Gamecard display area parent div */
.displayedResults {
     display: flex;
     flex: 1 1 100%;
     flex-direction: column;
     background-color: #116466;
     border: 1px solid #ffcb9a;
     min-height: 50em;


}


/* COMMENT: Game card display area */
.gameCardsDiv {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-around;
}

.smallBackgroundImage {
     max-width: 200px;
}

/* COMMENT: Individual Game Cards */
.singleGameCard {
     display: flex;
     flex-direction: column;
     flex: 0 0 auto;
     min-width: 8em;
     min-height: 10em;
     margin: 0.5em 0.5em;
     background-color: #116466;
     padding: 0.5em;
     justify-content: space-between;

}

.backgroundImage {
     max-width: 100px;
     margin: 0 0 0 2em;
}


/* COMMENT: Footer */
footer {
     display: flex;
     background-color: #116466;
     border: 1px solid #ffcb9a;
     min-height: 4em;
}
.minGameCard {
     border: 3px solid #ffcb9a;
     border-radius: 5px 5px 5px 5px;
     
}